.card{
    background: #152A46;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    padding: 10px;
    color: #fff;
    margin:0px;
}